*{
  margin: 0%;
    padding: 0%;
}  


body{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 0%;
    padding: 0%;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0%;
}

/*---Header---*/

header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: blue;
}

.portrait-img{
    width: 15vw;
}

.about{
    width: 25vw;
    height: fit-content;
    border: solid 1px;
    padding: 10px;
    background-color: white;
}

.icons{
    display: flex;
    justify-content: end;
}

/*---Section---*/
section{
    width: 100%;
}

.projects{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
   
  gap: 2vw;
}

.project{
    width: 20vw;
    border: solid 1px;
}

.project-img{
    width: 100%
}

.project-icons{
    display: flex;
}
/*---Footer---*/