*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box
}  


body{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*---Header---*/

header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: linear-gradient(165deg, #0475DE 50%, white 50%);
    padding: 3vw;
    
}

.portrait-img{
    width: 15vw;
}

.about{
    display: flex;
    flex-direction: column;
    gap: 2vw;
    width: 25vw;
    height: fit-content;
    padding: 10px;
    background-color: white;
    box-shadow: 5px 4px 5px 0px rgba(105,105,105,0.75);
    padding: 1vw;
}

.icons{
    display: flex;
    justify-content: end;
}

/*---Section---*/
section{
    width: 100%;
}

.projects{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2vw;
  padding-bottom: 3vw;
}

.project{
    width: 20vw;
    padding: 1vw 1vw 4vw 1vw;
    box-shadow: 5px 4px 5px 0px rgba(105,105,105,0.75);
}

.project-img{
    width: 100%
}

.project-name{
    display: flex;
    justify-content: space-between;
}
.project-icons{

}
/*---Footer---*/
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: blue;
}
.footer-img{
    width: 10vw;
}